* {
    margin: 5px;
    box-sizing: border-box;
}
body {
    height: 95vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
}
.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}
li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    padding: 0 20px;
}
ul li a {
    transition: all 0.3s ease 0s;
}
ul li a:hover {
    color: #0088a9;
}
button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
.main {
    display: flex;
    flex: 1;
}
.left {
    background-color: #0088a9;
    padding: 3em 0 3em 0;
    flex: 1 1 20px;
}
main {
    background-color: #0088a9;
    padding: 3em 0 3em 0;
    flex: 5 5 150px;
}
.right {
    background-color: #0088a9;
    padding: 3em 0 3em 0;
    flex: 1 1 20px;
}
footer {
    background-color: #0088a9;
    padding: 1em 0 1em 0;
}
@media all and (max-width: 550px) {
    .main {
        flex-direction: column;
    }
    main {
        padding: 5em 0 5em 0;
    }
}